*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
.page {
    width: 210mm;
    min-height: 297mm;
    padding: 10mm;
    margin: 0 auto;
    border: 1px #D3D3D3 solid;
    border-radius: 1rem;
    background: white;
    margin-top: 2rem;
}
img{
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    
}
.header{
    display: flex;
    justify-content: space-between;
}
hr{
    margin-block: 1rem;
}
h2{
    margin-block: 1rem;
    padding-block: .25rem;
    background-color: #ededed;
}
@media print {
    .page {
        border: initial;
        padding: 0;
        margin: 0;
        min-height: initial;
        page-break-after: always;
    }
}